body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 2100px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: #482915;
    color: white;
    border-bottom: 2px solid #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar a:hover {
    color: #d37f00;
}

.navbar a.active {
    color: #d37f00;
    font-weight: 700;
    border-bottom: 2px solid;

}

.gambar-bg-section {
    color: white;
    text-align: center;
    padding: 80px 10px;
    position: relative;
    overflow: hidden;
}

.container-gambar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gambar-bg {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.text-bg {
    position: relative;
    z-index: 2;
}

.gambar-bg-section h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.gambar-bg-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* styling file login */
.card-body {
    display: block;
    max-width: 320px;
    width: 100%;
    align-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    align-content: center;
    padding: 20px 40px 40px 40px;
    border-radius: 15px;

    border: 2px solid #ffffffaa;
    background: transparent;
    backdrop-filter: blur(25px);
    box-shadow: 0 10px 20px #00000055;
}

.card-body h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #ffffffff;
    padding-bottom: 20px;
}

.form-login input {
    font-size: medium;
    background: transparent;
    border: 3px solid #ffffffff;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    width: 100%;

    color: #fff;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.form-login input::placeholder {
    font-size: medium;
    color: #ffffffce;
}

.card-body form {
    display: block;
    align-content: space-between;
    justify-content: center;
}

.tb-login {
    font-weight: 600;
    width: 100%;
    background-color: #eb7500ff;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;

}

.tb-login:hover {
    scale: 1.04;
    background-color: #964B00;
    box-shadow: 1 8px 8px #ffffff55;
    transition: 0.3s;
}

.alert-login {
    margin-top: 15px;
    padding: 10px;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    border-radius: 5px;
    color: #a94442;
}

.tanya {
    color: white;
    margin-top: 15px;
    text-align: center;
}

.jawab {
    color: #ff8000;
    text-decoration: none;
    font-weight: 600;
}

.jawab:hover {
    font-weight: 700;
    text-decoration: underline;
}

.google-login {
    background-color: #0026ff;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

.google-login a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}

.google-login:hover {
    scale: 1.03;
    background-color: #001cbd;
}